@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for palette */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Prevent pull-to-refresh on mobile to improve canvas interaction */
body {
  overscroll-behavior-y: contain;
}
